.login-button{

}
.login-button a{
    color: aliceblue;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 1);
    margin: 60px auto;
    padding: 17px 25px;
    display: block;
    width: 10%;
    font-weight: bolder;
    text-align: center
}

.paragraph{
    width:80%;
    margin: auto
}
.nav{
    display: flex;
    font-weight: bolder;
    justify-content: center;
    width: 100%;
    align-items: center;
    background: plum;
    border-bottom: 3px solid purple;
    height: 80px;
    color:purple;
    list-style: none;
    margin-top: 0;
    font-size: 30px;
    text-decoration: none;
    background: yellowgreen;
}
.nav li{
    margin: 0 90px;
    padding: 0;
}